<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ur10e_ros2_control" params="name prefix sim:=false">
    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${sim}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${sim}">
          <plugin>ur_robot_driver/URPositionHardwareInterface</plugin>
        </xacro:unless>
      </hardware>

      <joint name="${prefix}shoulder_pan_joint">
        <command_interface name="position">
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${radians(-130)}</param>
          <param name="max">${radians(130)}</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="initial_position">0.0</param>
        <param name="initial_velocity">0.0</param>
      </joint>
      <joint name="${prefix}shoulder_lift_joint">
        <command_interface name="position">
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${radians(-130)}</param>
          <param name="max">${radians(130)}</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="initial_position">0.0</param>
        <param name="initial_velocity">0.0</param>
      </joint>
      <joint name="${prefix}elbow_joint">
        <command_interface name="position">
          <param name="min">${radians(-5)}</param>
          <param name="max">${radians(355)}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="initial_position">${radians(90)}</param>
        <param name="initial_velocity">0.0</param>
      </joint>
      <joint name="${prefix}wrist_1_joint">
        <command_interface name="position">
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="initial_position">0.0</param>
        <param name="initial_velocity">0.0</param>
      </joint>
      <joint name="${prefix}wrist_2_joint">
        <command_interface name="position">
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${radians(-250)}</param>
          <param name="max">${radians(250)}</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="initial_position">0.0</param>
        <param name="initial_velocity">0.0</param>
      </joint>
      <joint name="${prefix}wrist_3_joint">
        <command_interface name="position">
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${radians(-250)}</param>
          <param name="max">${radians(250)}</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="initial_position">0.785</param>
        <param name="initial_velocity">0.0</param>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
